@import 'src/assets/styles/_vars.scss';

.sidebar-nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 15;

	&__backdrop {
		position: fixed;
		z-index: -10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		background-color: rgba(0, 0, 0, 0.3);

		&.active {
			display: block;
		}
	}

	&__container {
		display: flex;
		flex-direction: row;
		position: relative;
		height: 100%;
	}

	&__redline {
		position: relative;
		display: flex;
		flex-flow: column;
		width: 52px;
		height: 100%;
		justify-content: space-between;
		background: $color-prime;
	}

	&__detail {
		position: absolute;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-flow: column;
		top: 0;
		left: -400px;
		width: 250px;
		background: #f0f0f0;
		transition: left 0.5s ease 0s;
		box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);

		&.active {
			left: 52px;
		}
	}

	&__float {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 100%;
		flex-flow: column;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		left: -352px;
		width: 270px;
		background: #ffffff;
		transition: left 0.5s ease 0s;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

		&.active {
			left: 300px;
		}
	}

	.nav-group {
		display: flex;
		flex-direction: column;
		// width: 100%;

		&.top {
			height: 40%;
			justify-content: flex-start;
		}

		&.middle {
			height: 20%;
			flex-grow: 1;
		}

		&.bottom {
			flex-grow: 1;
			height: 27%;
			justify-content: flex-end;
		}
	}

	.nav-button {
		width: 52px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: white;
		background: $color-prime;

		&:hover {
			background: white;
			color: $color-prime;
		}

		&.active {
			background: white;
			color: $color-prime;
		}

		&__child {
			font-size: 20px;
		}

		&.logo {
			background: black;
			font-size: 18px;
			
			img {
				width: 18px;
				height: 18px;
				display: inline-block;
			}

			&:hover {
				background: $color-prime;
			}
		}

		&.search {
			height: 72px;
		}
	}

	.nav-item {
		width: 100%;
		height: 52px;
		display: flex;
		font-size: 15px;
		padding: 5px 15px 5px 35px;
		align-items: center;
		cursor: pointer;

		&:hover {
			background: white;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		}

		&.active,
		&:active,
		&:visited {
			background: white;
			color: $color-prime;
		}

		&__label {
			height: 20px;
			width: 80%;
			display: inline-block;
		}

		&__icon {
			height: 20px;
			width: 20%;
			display: inline-block;
		}

		&.home,
		&.search {
			border-bottom: solid $color-prime 1px;
			justify-content: space-between;

			&:hover {
				background: #f0f0f0;
				box-shadow: unset;
			}

			&:active,
			&:visited {
				background: #f0f0f0;
			}
		}

		&.home {
			// margin-bottom: 1rem;
		}

		&.search {
			padding-top: 0;
			border-bottom: none;
			height: 72px;
		}

		&.user {
		}
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

.lang-switcher {
	width: 80%;

	.lang-select__control {
		background: $color-text-grey;
	}

	.lang-select__single-value {
		width: 80%;
	}
}

.fix-button {
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #fff;
	color: #a8a8a8;
	transition: transform 0.5s;

	&:after,
	&:before {
		content: '\e911';
		font-family: 'ecr_icons', sans-serif;
		font-size: 12px;
		position: absolute;
		top: 50%;
		margin-top: -7px;
	}

	&:hover {
		box-shadow: 0 0 2px inset $color-prime;
	}

	&:before {
		left: 5px;
	}

	&:after {
		right: 4px;
	}
}

.search-nav {
	padding-top: 0.5rem;
	line-height: 1;

	.ant-input {
		border-radius: 0;

		&:hover {
			border-color: #e0e0e0;
		}
	}
	.ant-btn-primary {
		background: transparent;
		border-radius: 0;
		color: $color-prime;
		border: 1px solid #e0e0e0;

		&:hover {
			color: white;
			background: $color-prime;
		}
	}

	&__text {
		font-size: 10px;
	}
}

.user {
	&__user-name {
		width: 100%;
		display: inline-block;
		margin-bottom: 0.1rem;
		text-overflow: ellipsis;
	}

	&__status {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		font-size: 0.9rem;
		text-overflow: ellipsis;
	}

	&__label-container {
		display: flex;
		flex-direction: column;
		width: 80%;
	}
}
