@import 'src/assets/styles/global';

.offer-row {
	
	&__documents {
		position: relative;
	}
	
	&__date {
		@extend %text1;
	}
	
	&__bill {
		position: absolute;
		top: 100%;
		margin-top: 12px;
		left: 0;
		color: $color-grey;
	}
	
	&__status {
		border-radius: 100%;
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: top;
		margin: 15px 0;

		&.approved {
			background: $color-green;
		}
		
	}
	
	&__check {
		.ant-checkbox-input {
			width: 62vw;
			left: -56vw;
			top: -26px;
			height: 74px;
		}
	}
	
	&__name {
		@extend %text1;
		text-align: left;
	}
	
	&__hint {
		@extend %text2;
		color: $color-grey;
		float: left;
		margin-top: 8px;
		margin-bottom: -10px;
		position: relative;
		z-index: 2;
	}
	
	&__options {
		list-style-type: none;
		padding: 0;
		margin: 5px -20px 5px 0;
		text-align: left;
		column-count: 2;
		column-gap: 2em;
		
		li {
			@extend %text2;
			position: relative;
			padding-left: 10px;
			padding-right: 20px;
			margin-bottom: 6px;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 4px;
				width: 5px;
				height: 5px;
				border-radius: 2px;
				background: $color-blue-light;
			}
		}
	}
	
	&__logo {
		img {
			display: inline-block;
			max-width: 100%;
		}
	}
	
	&__link {
		position: relative;
		z-index: 2;
		cursor: pointer;
		width: 20px;
		height: 50px;
		
		&:before {
			transition: transform .3s;
			font-family: $icomoon-font-family;
			content: $i-chevron_r;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: 50%;
			transform: translate(0, -50%);
			color: $color-grey;
			font-size: 16px;
			line-height: 1;
		}
		
		.expanded & {
			&:before {
				transform: translate(0, -50%) rotate(90deg);
			}
		}
	}
	
	&__fee {
		@extend %text1;
	}
	
	&__price {
		@extend %h1;
	}
	
	
}
