@import '../../assets/styles/vars.scss';
@import '../../assets/styles/global';

.bank-unit {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 15px;
  position: relative;
  font-size: 12px;

  &__cell {

    @include for-size(desktop-up) {
      padding-right: 18px;

      &.cell_size-1 {
        $cell-size: 450px;
        max-width: $cell-size;
        flex: 1 1 $cell-size;
      }

      &.cell_size-2 {
        $cell-size: 125px;
        max-width: $cell-size;
        flex: 1 1 $cell-size;
      }

      &.cell_size-3 {
        $cell-size: 30px;
        max-width: $cell-size;
        flex: 1 1 $cell-size;
        padding-right: 0;
      }

      &.cell_size-4 {
        $cell-size: 350px;
        max-width: 65px;
        flex: 1 1 65px;
        padding-right: 0;
        text-align: center;
      }
    }
  }

  &__name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__programme {
    @include for-size(desktop-up) {
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }
  }

  &__price {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__fee {
    @include for-size(desktop-up) {
      font-size: 12px;
    }
  }

  &__chat {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    display: inline-block;

    &:before {
      content: '\e917';
      font-family: 'ecr_icons', sans-serif;
      position: absolute;
      right: 0;
      top: 4px;
      font-size: 22px;
      color: #000;
    }
  }

  &__status {
    position: relative;
    text-align: center;
    padding-top: 16px;
    font-size: 10px;
    margin-top: 5px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -5px;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background: $color-grey;
    }

    &.status_green {
      color: $color-green;

      &:before {
        background: $color-green;
      }
    }

    &.status_blue {
      color: $color-blue;

      &:before {
        background: $color-blue;
      }
    }

    &.status_yellow {
      color: $color-yellow;

      &:before {
        background: $color-yellow;
      }
    }

    &.status_red {
      color: $color-prime;

      &:before {
        background: $color-prime;
      }
    }
  }

  @include for-size(desktop-down) {
    padding: 20px 80px 10px 20px;
    display: block;
    position: relative;
    letter-spacing: -.017em;

    &::before {
      font-family: $icomoon-font-family;
      content: $i-chevron_r;
      color: #000;
      font-size: 14px;
      line-height: 1;
      top: 50%;
      margin-top: -7px;
      right: 20px;
      position: absolute;
      transform: rotate(90deg);
    }

    .unit_active & {
      &::before {
        transform: rotate(-90deg);
      }
    }

    &__cell {
      font-size: 15px;
      line-height: 18px;

      &.cell_size-1 {
        color: #000;
        margin-bottom: 2px;

        .bank-unit__name {
          letter-spacing: -.01em;
          font-size: 18px;
          line-height: 21px;
        }
      }

      &.cell_size-2 {
        color: #a8a8a8;
        display: flex;

        .bank-unit__fee {
          order: -1;
          padding-right: 10px;
        }
      }

      &.cell_size-3 {
        position: absolute;
        right: 67px;
        top: 50%;
        margin-top: -14px;
      }

      &.cell_size-4 {

      }
    }
  }
}
