@import '../../assets/styles/vars.scss';

.order-button {
  color: $color-grey;
  border: 1px solid $color-grey-dark;
  height: 30px;
  width: 80px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $color-green;
    border-color: $color-green
  }
}
