@import 'src/assets/styles/global';

.kasko-car-select {
	color: #000;

	._inactive {
		color: $color-grey;
	}

	&__caption {
		@extend %h3;
		margin-bottom: 5px;
	}
	
	&__calculation {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 40px;
		margin-bottom: 7px;
		
		&--switch {
			background: #b5b5b5;
			//height: 16px;
			
			&:after {
				width: 20px;
				height: 20px;
				top: -2px;
				left: -4px;
				background: $color-green;
			}
			
			&.ant-switch-checked:after {
				left: 100%;
				margin-left: 4px;
			}
		}
		
		&--text {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			transition: opacity .3s;
			//color: #b5b5b5;
			
			&:first-child {
				right: 50%;
				margin-right: 30px;
				text-align: right;
				
				.active & {
					opacity: .3;
				}
			}
			
			&:last-child {
				left: 50%;
				margin-left: 30px;
				text-align: left;

				.kasko-car-select__calculation:not(.active) & {
					opacity: .3;
				}
			}
		}
	}
	
	&__image {
		width: 100%;
		margin: 20px 0 25px;
		text-align: center;

		img {
			display: inline-block;
			vertical-align: top;
			max-width: 100%;
		}
		
		&._inactive {
			opacity: .3;
		}
	}

	&__name {
		max-width: 110px;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
	}

	&__info {
		margin-top: 8px;
		font-size: 12px;
		line-height: 14px;
	}

	&__controls {
		display: flex;
		flex-flow: row;
		margin-bottom: 14px;

		&.check_v1 {
			@extend %check_v1;
		}

		&.check_v2 {
			@extend %check_v2;
		}

		&.radio_v2 {
			@extend %radio_v2;
		}
		
		.ant-radio-wrapper {
			@extend %text2;
			margin-top: 12px;
		}
		
		&--stretch {
			justify-content: stretch;
		}
		
		&--flex-1 {
			flex: 1 0 auto;
		}
		
		&--price {
			.ant-radio-wrapper {
				.short_form & {
					margin-top: 34px;
				}
				
				.full_form & {
					margin-top: 0;
				}
			}
		}
		
		&--group {
			position: relative;

			&.payment {
				margin-bottom: 250px;
			}
			
			.ant-btn.btn_middle {
				margin: 0 20px;
			}
			
			&-l {
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translate(0, -50%);
			}
			
			&-r {
				position: absolute;
				left: 100%;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}
	
	&__franchise {
		margin: 10px 0 0 38px;

		.ant-slider-handle {
			border-color: #fff;
			margin-top: -4px;
		}
		
		.ant-slider-dot {
			width: 6px;
			height: 6px;
			margin-left: -3px;
			border-width: 1px;
		}
		
		.ant-slider-track,
		.ant-slider-rail {
			height: 3px;
		}
		
		&--label {
			@extend %text2;
			white-space: nowrap;
			
			&.extremum {
				font-size: 14px;
			}
		}
	}
	
	&__price {
		padding-left: 115px;
		padding-top: 16px;
		
		&--holder {
			flex: 1 0 auto;
		}
		
		&--label {
			@extend %text2;
			margin-bottom: 6px;
		}

		&--value {
			@extend %h1;
		}
	}
	
	&__row {
		width: 100%;
		margin-bottom: 14px;
	}
	
	&__additional {
		@extend %text1;
		text-align: right;
	}
	
	&__carousel {
		position: relative;
		margin-bottom: 15px;
		margin-top: 15px;
		
		.slick-arrow {
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -18px;
			font-size: 0;
			width: 22px;
			height: 22px;
			z-index: 2;

			&:after,
			&:before {
				font-family: $icomoon-font-family;
				content: $i-chevron_r;
				position: absolute;
				left: 2px;
				text-align: center;
				top: 50%;
				margin-top: -7px;
				font-size: 14px;
				line-height: 1;
				color: #b5b5b5;
			}
			
			&:after {
				right: 2px;
				left: auto;
			}

			&.slick-next {
				right: -7px;
			}
			
			&.slick-prev {
				left: -7px;
				transform: rotate(180deg);
			}
		}
		
		.slick-slide {
			padding: 0 10px;
			width: 25%;
		}
	}
	
	&__period {
		&--value {
			@extend %h1;
			display: block;
			margin-bottom: 5px;
			color: inherit;
		}
		
		&--label {
			@extend %text1;
			color: inherit;
		}
	}
}

