@import '../../assets/styles/global';

.client-questionnaire {
	margin: 30px 0 30px;
	
	&__upload {
		&.ant-upload.ant-upload-drag {
			position: relative;
			text-align: left;
			background: #f7f7f7;
			border: 2px dashed $color-grey-dark;
			display: flex;
			flex-flow: row nowrap;
			min-height: 120px;
			//padding: 12px 50px;
			padding: 15px 15%;

			&.small {
				padding: 0 50px;
				min-height: 60px;

				.ant-upload {
					padding: 5px 0;
				}

				.client-questionnaire__upload--icon:before {
					top: -12px;
				}
			}
			
			.ant-upload-drag-container {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
			}
			
			.ant-upload-btn {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
			}
			
			&.ant-upload-drag-hover {
				border-color: $color-blue-light;
			}
		}
		
		&--icon {
			position: relative;
			width: 31%;
			height: 45px;
			
			&:before {
				font-family: $icomoon-font-family;
				content: $i-upload;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -35px;
				font-size: 70px;
				line-height: 1;
				color: $color-grey;
			}
			
			
		}
		
		&--info {
			width: 69%;
			text-align: left;
		}
		
		&--text {
			@extend %text1;
		}
		
		&--hint {
			@extend %text2;
			color: #808080;
			margin-top: 8px;
		}
	}
	
	&__faq {
		margin: 0;
		padding: 0;
		min-height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		list-style: none;
		border-top: 1px solid $color-grey;
		border-bottom: 1px solid $color-grey;

		&--title {
			@extend %text1;
			margin-bottom: 5px;
		}
		
		&--name {
			@extend %text1;
			max-width: 49%;
			font-weight: bold;
		}
		
		&--link {
			@extend %text1;
			max-width: 49%;
			text-decoration: underline;
		}
		
		&--item {
			position: relative;
			padding: 11px 2px 10px 30px;
			letter-spacing: -.003em;
			
			&:before {
				font-family: $icomoon-font-family;
				content: $i-alert;
				position: absolute;
				left: 0;
				top: 14px;
				border-radius: 7px;
				text-align: center;
				line-height: 16px;
				font-size: 12px;
				width: 15px;
				height: 15px;
				background: $color-prime;
				color: #fff;
			}

			+ .client-questionnaire__faq--item {
				border-top: 1px solid $color-grey;
			}
			
			p {
				@extend %text2;
				color: $color-grey;
				margin-bottom: 0;
			}
			
			&.completed {
				padding-left: 0;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				
				&:before {
					display: none;
				}
			}
			
		}
		
	}
	
}

