@import '../../assets/styles/vars.scss';

.page {
	&__layout {
		display: flex;
		min-height: 100vh;
		max-width: 100vw;
		flex-direction: column;
		overflow-x: hidden;
		
		@include for-size(desktop-up) {
			margin-left: $aside-size-small;
		}
	}

	&__content {
		margin-top: 50px;
		height: 100%;
		flex-basis: 100%;
		display: flex;
		flex-flow: column;
		padding: 2rem;

		@include for-size(desktop-up) {
			margin-top: 85px;

			&._kasko {
				margin-top: 0;
				padding: 7px 20px;
				font-family: Roboto, sans-serif;
			}
		}
	}
}
