@import 'src/assets/styles/global';

.aside-crumbs {
	list-style: none;
	margin: 0;
	padding: 0 0 8px;

	&__item {
		width: 100%;
		height: 45px;
		border-radius: 22px;
		position: relative;
		color: #000;
		font-size: 14px;
		line-height: 21px;
		padding: 12px 30px 12px 15px;
		background: $color-blue-light;
		box-sizing: border-box;
		margin-top: 8px;

		&:before {
			color: #fff;
			font-family: $icomoon-font-family;
			content: $i-chevron_r;
			position: absolute;
			right: 12px;
			top: 50%;
			margin-top: -10px;
		}
	}
}
