@import 'src/assets/styles/global';

.aside-crumbs {
	list-style: none;
	margin: 0;
	padding: 0 0 8px;

	li {
		width: 100%;
		margin-top: 15px;
	}
	
	&__item {
		display: block;
		width: 100%;
		height: 45px;
		position: relative;
		//color: $color-green;
		font-size: 14px;
		line-height: 21px;
		padding: 12px 15px;
		box-sizing: border-box;
		text-align: center;
		//border: 1px solid $color-green;

		&:after {
			color: $color-green;
			font-family: $icomoon-font-family;
			content: $i-chevron_r;
			padding-left: 15px;
			display: inline-block;
			vertical-align: top;
			padding-top: 1px;
		}
	}
}
