@import 'src/assets/styles/global';

.dev-navigation {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 10;
	padding: 5px;
	background: #fff;
	border: 1px solid $color-prime;
	
	ul {
		list-style: none;
		padding: 0;

		li {
			margin: 5px 0;
		}
	}
}
