@import '../../assets/styles/global';

.kasko-user {
  color: #000;
  margin-right: -5px;
  margin-left: -5px;

  ._inactive {
    color: $color-grey;
  }

  .gl_link {
    &._active {
      text-decoration: none;
    }

    &:not(._active) {
      color: $color-grey;
    }
  }

  &__avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
    overflow: hidden;
    border-radius: 100%;

    img {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }
  }

  &__name {
    @extend %text1;
  }

  &__info {
    @extend %text2;
    margin-top: 10px;

    + .kasko-user__info {
      margin-top: 10px;
    }

    &._phone {
      margin-bottom: 20px;
    }

    &._small {
      font-size: 12px;
      line-height: 14px;
    }

    &:last-child {
      margin-bottom: -2px;
    }
  }
}
