@import 'src/assets/styles/global';

.driver-info {
	padding: 10px 0;

	&__item {
		+ .driver-info__item {
			border-top: 1px solid $color-grey;
		}
	}
	
	&__caption {
		@extend %text1;
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__add {
		@extend %text1;
		position: relative;
		display: inline-block;
		padding-left: 30px;
		margin: 15px 0;
		
		&:before {
			font-family: $icomoon-font-family;
			content: $i-plus;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
			border-radius: 10px;
			background: $color-green;
			color: #fff;
			font-size: 16px;
			line-height: 20px;
			width: 20px;
			height: 20px;
			text-align: center;
		}
	}
	
	&__remove {
		@extend %text1;
		position: relative;
		display: inline-block;
		padding-left: 30px;
		margin: 15px 0;
		
		&:before {
			transform: rotate(-45deg);
			font-family: $icomoon-font-family;
			content: $i-plus;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
			border-radius: 10px;
			background: $color-grey;
			color: #fff;
			font-size: 16px;
			line-height: 20px;
			width: 20px;
			height: 20px;
			text-align: center;
		}
	}
}

