@import 'src/assets/styles/global';

.kasko-offer {
	color: #000;
	position: relative;
	
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	&__item {
		display: block;
		border: 1px solid $color-grey-light;
		border-radius: 5px;
		margin-bottom: 15px;
		overflow: hidden;
		cursor: pointer;
		
		&--title {
			@extend %text1;
			background: $color-grey-light;
			position: relative;
			padding: 15px;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;

			.kasko-offer__slide & {
				font-size: 12px;
				padding-left: 32px;

				&:before {
					font-family: $icomoon-font-family;
					content: $i-chevron_r;
					position: absolute;
					left: 10px;
					top: 50%;
					margin-top: -8px;
					font-size: 16px;
					line-height: 1;
					color: $color-grey;
				}
			}
		}

		&--body {
			@extend %text2;
			background: #fff;
			padding: 9px 15px 15px 15px;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;
			position: relative;

			p {
				margin-bottom: 0;
				
				+ p {
					margin-top: 5px;
				}
			}
			
			.kasko-offer__slide & {
				padding-right: 40px;
				
				&:before {
					font-family: $icomoon-font-family;
					content: $i-plus;
					position: absolute;
					right: 12px;
					top: 16px;
					font-size: 14px;
					color: #fff;
					background: $color-green;
					width: 20px;
					height: 20px;
					border-radius: 100%;
					text-align: center;
					line-height: 20px;
				}
			}
		}
		
		&--link {
			@extend %text2;
			position: relative;
			display: inline-block;
			vertical-align: top;
			height: 30px;
			border-radius: 15px;
			color: #000;
			padding: 8px 25px 8px 10px;
			background: $color-blue-light;
			box-sizing: border-box;

			&:before {
				color: #fff;
				font-family: $icomoon-font-family;
				content: $i-chevron_r;
				position: absolute;
				right: 8px;
				top: 50%;
				margin-top: -7px;
			}
		}
		
		&--price {
			font-size: 27px;
			line-height: 40px;
			padding: 0 4px;
		}
		
		&.active {
			.kasko-offer__item--title {
				background: $color-blue-light;
				
				&:before {
					color: #fff;
				}
			}

			.kasko-offer__slide & {
				.kasko-offer__item--title {

					&:before {
						color: #fff;
					}
				}
				
				.kasko-offer__item--body {
					&:before {
						content: $i-minus;
						background-color: opacify($color-grey, .5);
					}
				}
			}
		}
	}
	
	&__more {
		@extend %text2;
		margin-top: 7px;
		text-align: right;
		color: $color-grey;
	}
}
