@import 'src/assets/styles/global';

.kasko-offer {
	color: #000;
	position: relative;
	
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	&__item {
		display: block;
		border: 1px solid $color-grey-light;
		border-radius: 5px;
		margin-bottom: 15px;
		overflow: hidden;
		cursor: pointer;
		
		&--title {
			@extend %text2;
			background: $color-grey-light;
			position: relative;
			padding: 15px 12px 15px 32px;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;

			&:before {
				font-family: $icomoon-font-family;
				content: $i-chevron_r;
				position: absolute;
				left: 10px;
				top: 50%;
				margin-top: -8px;
				font-size: 16px;
				line-height: 1;
				color: $color-grey;
			}
		}

		&--body {
			@extend %text2;
			background: #fff;
			padding: 9px 40px 6px 15px;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;
			position: relative;
			
			&:before {
				font-family: $icomoon-font-family;
				content: $i-plus;
				position: absolute;
				right: 16px;
				top: 16px;
				font-size: 16px;
				color: #fff;
				background: $color-green;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				text-align: center;
				line-height: 20px;
			}
		}
		
		&--price {
			font-size: 27px;
			line-height: 40px;
			padding: 0 4px;
		}
		
		&.active {
			.kasko-offer__item--title {
				background: $color-blue-light;
				
				&:before {
					color: #fff;
				}
			}

			.kasko-offer__item--body {
				&:before {
					right: 12px;
					background-color: transparent;
					content: $i-check;
					color: $color-green;
				}
			}
		}
	}
	
	&__more {
		@extend %text2;
		margin-top: 7px;
		text-align: right;
		color: $color-grey;
	}
}
