@import 'src/assets/styles/global';

.calculation-popup {
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 0;
	left: $aside-size-small;
	right: 0;
	margin: 0 auto;
	max-width: calc(66.66666667% - #{$aside-size-small});
	
	&:before {
		content: '';
		position: absolute;
		top: -20px;
		bottom: 0;
		left: -50vw;
		right: -50vw;
		background: #000;
		opacity: .3;
	}

	&__inner {
		position: relative;
		z-index: 1;
		height: 100vh;
		overflow-y: auto;
		padding: 20px 10px;
		background: #fff;
		
		.kasko-car-select__calculation:not(.no-img) {
			margin-bottom: 50px;
		}

		.kasko-main__title {
			margin-bottom: 18px;
		}

		.kasko-car-select__controls {
			margin-bottom: 17px;
		}

		.kasko-car-select {
			margin-bottom: 40px;
		}
	}
	
	&__close {
		position: absolute;
		top: 8px;
		right: 7px;
		cursor: pointer;
		z-index: 1;
		width: 30px;
		height: 30px;

		&:before {
			font-family: $icomoon-font-family;
			content: $i-close;
			position: absolute;
			right: 0;
			left: 0;
			top: 50%;
			text-align: center;
			margin-top: -8px;
			font-size: 15px;
			line-height: 1;
			color: $color-grey;
		}
	}
	
}
