$icomoon-font-family: "ecr_icons" !default;
$icomoon-font-path: "fonts" !default;

$i-alert: "\e91a";
$i-bell: "\e918";
$i-upload: "\e919";
$i-plus: "\e91b";
$i-chat: "\e917";
$i-search: "\e900";
$i-check: "\e901";
$i-add: "\e902";
$i-play: "\e903";
$i-copy: "\e904";
$i-restore: "\e905";
$i-bank: "\e906";
$i-download: "\e907";
$i-news: "\e908";
$i-chart: "\e909";
$i-calendar: "\e90a";
$i-cart: "\e90b";
$i-settings: "\e90c";
$i-user: "\e90d";
$i-exit: "\e90e";
$i-info: "\e90f";
$i-search_2: "\e910";
$i-chevron_r: "\e911";
$i-add_fill: "\e912";
$i-close_circle: "\e913";
$i-close: "\e914";
$i-printer: "\e915";
$i-filter: "\e916";
$i-sandwich: "\2261";
$i-spinner: "\e97c";

