@import '../../assets/styles/global';

$aside-size: 226px;

.docs {
  &__frame {

    .kasko-car-info__status--item {
      margin-right: 5px;
    }

    .kasko-car-select__image {
      margin: 0 0 15px;
      height: 115px;
      line-height: 115px;

      img {
        max-height: 115px;
        padding-right: 15px;
        padding-left: 12px;
      }
    }

    .kasko-car-select__description {
      padding: 5px 0;
    }

    .kasko-car-select__controls--toggle {
      margin-left: 0;

      span {
        text-decoration: none !important;
      }
    }

  }
}

.cars {
  &__number {
    //font-family: RoadNumbers, sans-serif;
    position: relative;
    font-weight: 500;
    margin: 0 auto;
    width: 116px;
    height: 25px;
    border-radius: 4px;
    color: #000;
    border: 2px solid #000;
    padding: 5px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: #000;
      top: 50%;
      margin-top: -2px;
    }

    &:before {
      left: 2px;
    }

    &:after {
      right: 2px;
    }

    &-letter {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      position: absolute;
      bottom: 1px;
      right: 35px;

      &:first-child {
        right: auto;
        left: 10px;
      }
    }

    &-digit {
      position: absolute;
      left: 22px;
      bottom: 1px;
      font-size: 19px;
      line-height: 1;
    }

    &-region {
      font-size: 12px;
      line-height: 12px;
      width: 20px;
      position: absolute;
      top: 0;
      right: 8px;
      bottom: 0;
      border-left: 1px solid #000;
      padding-top: 7px;
      text-align: right;
    }

  }
}
