@font-face {
  font-family: 'ecr_icons';
  src: url('../fonts/ecr_icons.ttf?q66yd') format('truetype'),
  url('../fonts/ecr_icons.woff?q66yd') format('woff'),
  url('../fonts/ecr_icons.svg?q66yd#ecr_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
