@import 'antd_generated';
// todo antd_generated.css imported because of production style disorder (document.getElementsByTagName('style')[1].innerHTML)
@import 'normalize';
@import 'global';
@import 'grid';
//@import 'fonts';

$scrollbar_size: 6px;

html {
  font: 14px/1.2 'Roboto', sans-serif;
  overflow-y: scroll;

  //&::-webkit-scrollbar {
  //  width: $scrollbar_size;
  //}
  //
  //&::-webkit-scrollbar-thumb {
  //  background: $color-prime;
  //  border-radius: $scrollbar_size / 2;
  //}
  //
  //* {
  //  &::-webkit-scrollbar {
  //    width: $scrollbar_size;
  //  }
  //
  //  &::-webkit-scrollbar-thumb {
  //    background: $color-prime;
  //    border-radius: $scrollbar_size / 2;
  //  }
  //}
}

button,
input {
  border: none;
  background: none;
  outline: 0;
}

.align-start {
  align-self: flex-start;
}

.w_100p {
  width: 100%;
}

.datepicker_placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .float_placeholder {
    left: 11px;
  }

  .ant-picker-focused & {

    .float_placeholder {
      font-size: 12px;
      top: 19px;
      color: #a8a8a8;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.float_placeholder {
  @extend %text1;
  transition: all 0.7s;
  position: absolute;
  left: 22px;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  color: $color-grey-dark;
  pointer-events: none;
  white-space: pre-line;
  max-height: 2.56em;
  overflow: hidden;

  .force_placeholder ~ &,
  .ant-picker.ant-picker-focused ~ &,
  .ant-picker:not(._empty) ~ &,
  .ant-select:not(._empty) ~ &,
  input:not(._empty) ~ &,
  input:focus ~ & {
    font-size: 12px;
    top: 19px;
    color: $color-grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-select + & {
    right: 40px;
  }
}

.ant-select.ant-select-open {
  .ant-select-selector {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.ant-input.control-focused:not(.ant-input-disabled),
.ant-select.control-focused:not(.ant-select-disabled) .ant-select-selector {
  border-color: #acdcfa !important;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(126, 191, 237, 0.2);
}

.ant-picker-dropdown {
  &.litepicker_v1 {
    .ant-picker-header {
      padding-top: 14px;
      padding-bottom: 10px;
    }

    .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
      color: #000;
    }

    .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
      background: #deeefa;
    }

    .ant-picker-panel-container {
      margin-top: -5px;
      border: 1px solid #acdcfa;
    }
  }
}

.custom_placeholder.ant-select {

  .ant-select-arrow {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $color-grey-dark;
    }

    svg {
      display: none;
    }
  }

  .ant-select-selection-item {
    padding-top: 10px;
    color: #000;
    //padding-top: 2px !important;
  }
}

.ant-picker-input input {
  transform: translate(0, 6px);
  font-size: 15px;
}

.custom_placeholder.ant-input {
  padding-top: 30px !important;
  padding-bottom: 10px !important;
}

.no_placeholder.ant-input {
  //padding-top: 10px !important;
  //padding-bottom: 9px !important;
}

.btn_grey {
  border-color: $color-grey-light !important;
  background: $color-grey-light !important;
  color: #808080 !important;
  pointer-events: none;
}

.ant-btn {
  padding: 0 16px;
  font-size: 15px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  white-space: normal;
  justify-content: center;

  .btn_icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 12px;
  }

  &.fz_14 {
    font-size: 14px;
  }

  &.ant-btn-primary {
    &:not(.disabled) {
      color: #000;
    }
  }

  &.btn_green {
    &[disabled],
    &.disabled {
      color: rgba(126, 191, 237, 0.3);
      background: rgba(255, 255, 255, 0.87);
      border-color: rgba(181, 181, 181, 0.3);
    }

    &:not(.disabled):not([disabled]) {
      //border-color: $color-green;
      color: $color-green;

      &:hover {
        opacity: .9;
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        text-decoration: none;
        border-color: $color-green;
        //background: rgba(34, 139, 34, .1);
      }
    }
  }
}

$spinner_time: 1s;
.btn_search {
  position: relative;
  padding-left: 23px;
  will-change: transform;

  &:before {
    font-family: $icomoon-font-family;
    content: $i-spinner;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;
    line-height: 1;
    -webkit-animation: rotating $spinner_time linear infinite;
    -moz-animation: rotating $spinner_time linear infinite;
    -ms-animation: rotating $spinner_time linear infinite;
    -o-animation: rotating $spinner_time linear infinite;
    animation: rotating $spinner_time linear infinite;
  }
}

.fw_med {
  font-weight: 500;
}

.align_center {
  align-items: center;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_left {
  text-align: left !important;
}

.text_upper {
  text-transform: uppercase;
}

.align_self_start {
  align-self: flex-start;
}

.color_green {
  color: $color-green;
}

.color_red {
  color: $color-prime;
}

.color_black {
  color: #000;
}

.wnw {
  white-space: nowrap;
}

.hide_picker_icon {
  .ant-picker-suffix {
    display: none;
  }
}

.vis_hidden {
  pointer-events: none;
  visibility: hidden;
}

.gl_link {
  transition: color .3s, opacity .3s;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: #a8a8a8;
    opacity: .3;
    pointer-events: none;
  }
}

.ant-picker-panel-container,
.ant-select-dropdown {
  box-shadow: none !important;
  border: 0;
  padding: 0;
  overflow: visible;

  > div {
    margin-top: -5px;
    border: 1px solid #acdcfa;
  }
}

.ant-btn {
  //font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: color .3s, opacity .3s, background .3s;

  &.ant-btn-lg {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.ant-btn-sm {
    height: 40px;
    min-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.comments-form__btn {
    text-decoration: none;
    color: #fff;

    &:focus,
    &:hover {
      color: #fff;
      background: #40993d;
      border-color: #40993d;
    }
  }

  &.btn_middle {
    width: 100%;
    //min-width: 206px;
    //padding-left: 40px;
    //padding-right: 40px;

    &.margin_tb {
      margin-bottom: 32px;
      margin-top: 15px;
    }
  }

  &.btn_wide {
    min-width: 432px;
    //padding-left: 92px;
    //padding-right: 92px;
    //margin-bottom: 32px;
  }

  .kasko-car-select__extra & {
    margin-top: 10px;
    font-size: 24px;
  }

  &.btn-action {
    border: 1px solid $color-blue-light-light;
    background: $color-blue-light-light;
    color: #000;

    &:hover {
      background: $color-blue-light;
    }

    .kasko-car-select__extra & {
      &:not(:hover) {
        color: $color-blue-light;
      }
    }
  }

  &.btn-cancel {
    border: 1px solid #d9d9d9;
    color: #d9d9d9;

    &:hover {
      color: $color-prime;
      border-color: $color-prime;
    }
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background: #fff;

  &:after {
    border-color: $color-green;
  }
}

.checkbox_franchise {
  .ant-checkbox-wrapper {
    margin-top: 18px;
  }
}

.checkbox_middle {
  line-height: 60px;
  position: relative;

  .ant-checkbox-wrapper {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &--hint {
    font-size: 14px;
    line-height: 20px;
    color: $color-grey;
    padding-left: 7px;
  }
}

.wide_group {
  .ant-radio-group {
    width: 100%;
  }
}

.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) {
  .ant-select-selector {
    border-color: transparent;
  }

  .ant-select-arrow {
    display: none;
  }
}

.ant-select {
  &.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector {
    color: #000 !important;
  }

  &.select_v2 {
    margin-left: -7px;

    .ant-select-selector {
      border: 0 !important;
    }

    .ant-select-selection-item {
      text-decoration: underline;
    }

    .ant-select-arrow {
      margin-top: -7px;
    }
  }
}

.select_dropdown_v1 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  &.popup {
    //z-index: 1051;
  }

  .ant-select-item-option-content {
    transition: color .3s;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled):not(.ant-select-item-option-selected) {
    .ant-select-item-option-content {
      color: #fff;
    }
  }

  .ant-select-item {
    @extend %text1;
    line-height: 22px;
  }
}

.ant-input-disabled {
  border-color: transparent !important;
  color: #000 !important;
}

.ant-input {
  color: #000;
  border-radius: 5px;
}

.check_v3 {
  .ant-checkbox {
    + span {
      @extend %text1;
    }
  }

  .ant-checkbox-inner,
  .ant-checkbox-checked::after {
    border-radius: 0;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background: #fff;

      &:after {
        border-color: $color-blue;
      }
    }
  }
}

.check_v4 {
  .ant-checkbox-wrapper {
    position: relative;
  }

  .ant-checkbox {
    position: absolute;
    right: 100%;
    top: -4px;

    + span {
      @extend %text2;
      padding: 0;
    }
  }

  .ant-checkbox-inner {
    border: 0 !important;
  }

  .ant-checkbox-checked {
    &:after {
      display: none !important;
    }

    .ant-checkbox-inner {
      background: #fff;

      &:after {
        border-color: #000;
      }
    }
  }
}

.check_v5 {
  .ant-checkbox-wrapper {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-right: 15px;
  }

  .ant-checkbox {
    order: 1;

    + span {
      @extend %text2;
      color: #a8a8a8;
      margin-bottom: 4px;
      white-space: nowrap;
    }
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background: #fff;

      &:after {
        border-color: $color-green;
      }
    }
  }
}

.check_v6 {
  .ant-checkbox-wrapper {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .ant-checkbox-inner,
  .ant-checkbox-checked::after {
    border-radius: 0;
  }

  .ant-checkbox {

    + span {
      @extend %text1;
      color: #a8a8a8;
      margin-bottom: 4px;
    }
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background: #fff;

      &:after {
        border-color: $color-blue;
      }
    }
  }
}

.ant-checkbox-wrapper.ant-checkbox-wrapper-disabled {
  span {
    color: rgba(0, 0, 0, .3);
  }
}

.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #fff;
  opacity: .3;
}

.input-error {
  color: $color-prime !important;
  border-color: $color-prime !important;

  + .float_placeholder {
    color: $color-prime !important;
    border-color: $color-prime !important;
  }
}

.wrapper-error {
  .ant-checkbox-inner,
  .ant-checkbox-inner:after {
    border-color: $color-prime !important;
  }

  .ant-select-arrow {
    svg {
      path {
        fill: $color-prime !important
      }
    }
  }

  &.ant-picker,
  + .float_placeholder,
  .ant-select-selector,
  input {
    color: $color-prime !important;
    border-color: $color-prime !important;
    box-shadow: none !important;
  }
}

.tooltip_v1 {
  &.ant-tooltip {
    max-width: 300px;

    .ant-tooltip-content {
      box-shadow: none;
    }

    .ant-tooltip-inner {
      padding-top: 10px;
      font-size: 10px;
      line-height: 15px;
      border: 1px solid $color-grey;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &.ant-tooltip-placement {
    &-top {
      .ant-tooltip-arrow {
        z-index: 1;
        transform: translate(-50%, -1px);

        .ant-tooltip-arrow-content {
          border: solid $color-grey;
          border-width: 0 1px 1px 0;
        }
      }
    }

    &-bottomLeft {
      .ant-tooltip-arrow {
        z-index: 1;
        transform: translate(0, 1px);

        .ant-tooltip-arrow-content {
          border: solid $color-grey;
          border-width: 1px 0 0 1px;
        }
      }
    }
  }
}

.tooltip_v2 {
  &.ant-tooltip {
    .ant-tooltip-content {
      box-shadow: none;
    }

    .ant-tooltip-inner {
      min-height: 15px;
      line-height: 15px;
      padding: 0 10px;
      font-size: 10px;
      box-shadow: none;
      border-radius: 7px;
    }
  }

  &.ant-tooltip-placement {
    &-top {
      .ant-tooltip-arrow {
        display: none;
      }
    }
  }

  &.tooltip__state {
    &--white {
      .ant-tooltip-inner {
        background: #fff;
        border: 1px solid #b5b5b5;
        color: $color-grey;
      }
    }

    &--red {
      .ant-tooltip-inner {
        background: $color-prime;
        color: #fff;
      }
    }

    &--green {
      .ant-tooltip-inner {
        background: $color-green;
        color: #fff;
      }
    }

    &--yellow {
      .ant-tooltip-inner {
        background: $color-yellow;
        color: #000;
      }
    }

    &--blue {
      .ant-tooltip-inner {
        background: $color-blue;
        color: #fff;
      }
    }
  }
}

.popup-visible {
  display: none;

  .calculation-popup & {
    display: block;
  }
}

.ant-flex-1 {
  flex: 1 0 auto;
}

.position-rel {
  position: relative;
}

.input-icon {
  position: absolute;
  transform: translateY(-9px);
  top: 50%;
  bottom: 0;
  right: 12px;
  height: 18px;
  z-index: 1;
  pointer-events: all;

  &__btn {
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 1;

    &:hover {
      color: #000;
    }
  }

  ~ .ant-input {
    padding-right: 40px;
  }

  ~ .float_placeholder {
    right: 40px;
  }
}

.datepicker_v1 {
  padding: 0;
  border: 0;
  box-shadow: none;

  input {
    @extend .ant-input;
    @extend .custom_placeholder.ant-input;
    transform: none;
    height: 60px;
  }
}

.datepicker_v1 {
  .litepicker {

    .container__main {

      .container__months {
        border: 1px solid #a8a8a8;
        box-shadow: none;
        border-radius: 0;
        width: 232px;
      }

      .month-item-weekdays-row {
        padding: 1px 1px 0 0;

        > div {
          height: 30px;
          width: 30px;
          font-size: 10px;
          line-height: 18px;
          margin-top: -1px;
          margin-right: -1px;
          border: 1px solid #f7f7f7;
        }
      }

      .container__days {
        padding: 1px 1px 0 0;

        > div,
        > a {
          height: 30px;
          width: 30px;
          line-height: 18px;
          margin-top: -1px;
          margin-right: -1px;
          border: 1px solid #f7f7f7;
        }
      }

      .day-item {
        cursor: pointer;
      }

      .month-item-header {
        padding-bottom: 15px;
        font-size: 12px;

        .month-item-name:first-letter {
          text-transform: uppercase;
        }
      }

      .month-item {
        padding: 0 15px 15px;
      }

      .button-previous-month,
      .button-next-month {
        cursor: pointer;
      }

      .button-previous-month {
        transform: rotate(180deg);
      }
    }

  }
}
