@import 'normalize';
@import 'global';
@import 'grid';
@import 'fonts';

html {
	font: 14px/1.2 'Roboto', sans-serif;
}

button,
input {
	border: none;
	background: none;
	outline: 0;
}

.w_100p {
	width: 100%;
}

.float_placeholder {
	@extend %text1;
	transition: all 0.7s;
	position: absolute;
	left: 21px;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	color: #b5b5b5;
	pointer-events: none;
	white-space: pre-line;

	.force_placeholder ~ &,
	.ant-picker.ant-picker-focused ~ &,
	.ant-picker:not(._empty) ~ &,
	.ant-select:not(._empty) ~ &,
	input:not(._empty) ~ &,
	input:focus ~ & {
		font-size: 12px;
		top: 11px;
		color: $color-grey;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.ant-select + & {
		right: 40px;
	}

}

.ant-select-selection-item {
	padding-top: 7px !important;
}

.ant-picker-input input {
	transform: translate(0, 6px);
}

.ant-input {
	padding-top: 20px !important;
	padding-bottom: 6px !important;
}

.btn_grey {
	border-color: $color-grey-light !important;
	background: $color-grey-light !important;
	color: #808080 !important;
	pointer-events: none;
}

.btn_green {
	//&.ant-btn {
		background: $color-green;
		color: #fff;
	
		&:hover {
			opacity: .9;
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			text-decoration: none;
			background: #fff;
		}
	//}
}

$spinner_time: 1s;
.btn_search {
	position: relative;
	padding-left: 23px;
	will-change: transform;

	&:before {
		font-family: $icomoon-font-family;
		content: $i-spinner;
		position: absolute;
		left: 0;
		top: 50%;
		font-size: 20px;
		margin-top: -10px;
		line-height: 1;
		-webkit-animation: rotating $spinner_time linear infinite;
		-moz-animation: rotating $spinner_time linear infinite;
		-ms-animation: rotating $spinner_time linear infinite;
		-o-animation: rotating $spinner_time linear infinite;
		animation: rotating $spinner_time linear infinite;
	}
}

.align_center {
	align-items: center;
}

.text_center {
	text-align: center !important;
}

.text_right {
	text-align: right !important;
}

.text_left {
	text-align: left !important;
}

.text_upper {
	text-transform: uppercase;
}

.align_self_start {
	align-self: flex-start;
}

.color_green {
	color: $color-green;
}

.color_red {
	color: $color-prime;
}

.color_black {
	color: #000;
}

.hide_picker_icon {
	.ant-picker-suffix {
		display: none;
	}
}

.gl_link {
	transition: color .3s, opacity .3s;
	cursor: pointer;
	display: inline-block;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ant-btn {
	font-size: 16px;

	&.btn_middle {
		min-width: 206px;
		//padding-left: 40px;
		//padding-right: 40px;

		&.margin {
			margin-bottom: 32px;
			margin-top: 15px;
		}
	}

	&.btn_wide {
		min-width: 432px;
		//padding-left: 92px;
		//padding-right: 92px;
		//margin-bottom: 32px;
	}
}

.ant-checkbox-checked .ant-checkbox-inner {
	background: #fff;
	
	&:after {
		border-color: $color-green;
	}
}

.checkbox_franchise {
	.ant-checkbox-wrapper {
		margin-top: 18px;
	}
}

.checkbox_middle {
	line-height: 44px;
	position: relative;

	.ant-checkbox-wrapper {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}

	&--hint {
		font-size: 14px;
		line-height: 20px;
		color: $color-grey;
		padding-left: 7px;
	}
}

.wide_group {
	.ant-radio-group {
		width: 100%;
	}
}


.select_dropdown_v1 {

	.ant-select-item-option-content {
		transition: color .3s;
	}

	.ant-select-item-option-active:not(.ant-select-item-option-disabled):not(.ant-select-item-option-selected) {
		.ant-select-item-option-content {
			color: #fff;
		}
	}

	.ant-select-item {
		@extend %text2;
		line-height: 22px;
	}
}

.ant-input-disabled {
	border-color: transparent !important;
}
