@import 'src/assets/styles/global';

.orders-tabs {
	&__wrapper {
		padding: 15px 35px 0;
	}

	&__list {
		padding: 0 35px 0 0;
		margin: 0 0 20px;
		list-style-type: none;
		display: flex;
		justify-content: center;
	}

	&__tab {
		color: #000;
		font-size: 13px;
		font-weight: 500;
		cursor: pointer;
		padding: 0 23px;
		margin: 0 2px;
		position: relative;

		&-panel {
			overflow-x: auto;

			.orders-table__info:before {
				display: none;
			}
		}

		&.react-tabs__tab--selected {
			color: $color-prime;
			cursor: default;

			.tab-panel__name {
				&:before {
					font-family: 'ecr_icons', sans-serif;
					content: '\e903';
					position: absolute;
					font-size: 20px;
					line-height: 1;
					left: 0;
					top: 50%;
					margin-top: -10px;
				}
			}
		}
	}
}

.orders-table {
	min-width: 1024px;

	&__common {
		
		&--close {
			width: 20px;
			height: 20px;
			position: relative;
			text-align: center;
			cursor: pointer;
			margin-right: 32px;
			color: #b5b5b5;
			transition: color .3s;

			&:before {
				font-family: $icomoon-font-family;
				content: $i-close;
				font-size: 20px;
				line-height: 1;
			}
			
			&:hover {
				color: $color-prime;
			}
		}
		
		&--controls {
			flex: 1 1 auto;
			padding: 5px 0 5px 32px;
			
			li {
				padding-left: 60px;
				float: left;
			}
			
			.gl_link {
				font-size: 12px;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
					color: #000;
				}
			}
		}
		
		&--count {
			@extend %text3;
			padding-left: 20px;
			color: $color-grey;
		}
	}
	
	&__scroller {
		overflow-y: auto;
		min-height: calc(100vh - 150px);
	}

	&__header {
		background: $color-table-header;

		.orders-table__row {
			flex-wrap: nowrap;
		}
		
		.orders-table__cell {
			padding: 11px 10px;
			color: $color-grey;
		}
	}

	&__body {
		.orders-table__cell {
			font-size: 12px;
			line-height: 14px;
			padding: 14px 10px;
			color: #808080;
			
			p {
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0;
			}
		}
	}

	&__row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		border-bottom: 1px solid $color-grey;

		.orders-table__row-overlay-top,
		.orders-table__row-overlay-bottom {
			position: absolute;
			right: 0;
			left: -50vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.3);
			display: none;
		}

		.orders-table__row-overlay-top {
			bottom: 100%;
		}

		.orders-table__row-overlay-bottom {
			top: 100%;
		}

		&.open {
			.orders-table__row-overlay-top,
			.orders-table__row-overlay-bottom {
				display: block;
			}

			.orders-table__info {
				display: flex;
			}

			.orders-table__cell--collapse:before {
				transform: rotate(90deg);
			}
		}

		&.checked {
			background: #deeefa;
		}
	}

	&__info {
		//position: absolute;
		//right: 0;
		//left: 0;
		//top: 100%;
		//margin-top: -2px;
		background: #fff;
		//max-height: 50vh;
		z-index: 1;
		display: none;
		border-top: 1px solid $color-grey;
		flex-wrap: wrap;
		width: 100%;
		position: relative;

		&--list {
			list-style-type: none;
			padding: 12px 14px 10px;
			margin: 0;
			flex: 1 1 100%;
			display: flex;
			border-bottom: 1px solid #b5b5b5;
		}

		&--item {
			padding-right: 10px;

			&.item_size-1 {
				max-width: 92px;
				flex: 1 1 92px;
			}

			&.item_size-2 {
				max-width: 140px;
				flex: 1 1 140px;
			}

			&.item_size-3 {
				max-width: 67px;
				flex: 1 1 67px;
			}

			&.item_size-4 {
				max-width: 155px;
				flex: 1 1 155px;
			}

			&.item_size-5 {
				max-width: 135px;
				flex: 1 1 135px;
			}

			&.item_size-6 {
				max-width: 115px;
				flex: 1 1 115px;
			}

			&.item_size-7 {
				max-width: 110px;
				flex: 1 1 110px;
			}

			&.item_size-8 {
				max-width: 180px;
				flex: 1 1 180px;
			}
		}

		&--caption {
			color: #808080;
			font-size: 10px;
			margin-bottom: 4px;
		}

		&--value {
			font-size: 12px;
		}

		&--phone {
			text-decoration: underline;
			color: #000;

			&:hover {
				text-decoration: none;
			}
		}

		&--comments {
			flex: 1 1 30%;
			height: 470px;
			max-height: 40vh;
			border-left: 1px solid $color-grey;
		}

		&--banks {
			flex: 1 1 70%;
			height: 470px;
			max-height: 40vh;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 1px;
				left: 47.9%;
				background: $color-grey;
			}

			&-list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				width: 47.9%;
				float: left;
				max-height: 100%;
				overflow-y: auto;
			}

			&-info {
				list-style-type: none;
				margin: 0;
				padding: 0 0 45px;
				width: 52.1%;
				float: right;
				max-height: 100%;
				overflow-y: auto;
				border-right: 1px solid #b5b5b5;
			}

			&-msg {
				position: absolute;
				width: inherit;
				right: 0;
				bottom: 0;
				height: 45px;
				background: #fff;
				border: 1px solid #b5b5b5;
				z-index: 1;
			}

			&-comment {
				width: 100%;
				height: 45px;
				padding: 12px 100px 12px 15px;
				font-size: 16px;
				line-height: 19px;
				@include placeholder;
			}
			
			&-attach {
				position: absolute;
				top: 6px;
				right: 60px;
				width: 30px;
				height: 30px;
				text-align: center;
				
				&:after {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					font-family: $icomoon-font-family;
					content: $i-attach;
					font-size: 16px;
					line-height: 30px;
					color: $color-grey;
				}
			}
			
			&-send {
				position: absolute;
				top: 6px;
				right: 15px;
				width: 30px;
				height: 30px;
				text-align: center;
				
				&:after {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					font-family: $icomoon-font-family;
					content: $i-plane;
					font-size: 16px;
					line-height: 30px;
					color: #fff;
				}
			}

			&-unit {
				border-bottom: 1px solid $color-grey;

				&.unit_active {
					background: $color-table-header;
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	&__cell {
		position: relative;
		text-align: left;
		flex: 1 1 auto;

		.order-button {
			margin-right: 5px;
		}

		.checkbox_v1 .check_text:before {
			border-color: #808080;
		}

		.orders-table__header-btn {
			position: relative;
			font-size: 12px;
			
			&.wide {
				margin-right: -100%;
			}
		}

		&.sortable-asc {
			.orders-table__header-btn {
				padding-right: 15px;
				float: left;
				cursor: pointer;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;

				&:before {
					font-family: 'ecr_icons', sans-serif;
					content: '\e911';
					position: absolute;
					font-size: 10px;
					right: 0;
					top: 50%;
					margin-top: -6px;
					transform: rotate(-90deg);
				}
			}
		}

		&.sortable-desc {
			.orders-table__header-btn {
				padding-right: 20px;
				float: left;
				cursor: pointer;

				&:before {
					font-family: 'ecr_icons', sans-serif;
					content: '\e911';
					position: absolute;
					font-size: 10px;
					right: 0;
					top: 50%;
					margin-top: -6px;
					transform: rotate(90deg);
				}
			}
		}

		&--collapse {
			position: relative;

			&:before {
				font-family: 'ecr_icons', sans-serif;
				content: '\e903';
				position: absolute;
				font-size: 20px;
				line-height: 1;
				left: -22px;
				top: 50%;
				margin-top: -10px;
			}
		}

		&.cell_size-1 {
			$cell-size: 38px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-2 {
			$cell-size: 155px;
			padding-left: 15px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}
		
		&.cell_size-3 {
			$cell-size: 145px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-4 {
			$cell-size: 120px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-5 {
			$cell-size: 210px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-6 {
			$cell-size: 150px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-7 {
			$cell-size: 65px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-8 {
			$cell-size: 65px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-9 {
			$cell-size: 65px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-10 {
			$cell-size: 100px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-11 {
			$cell-size: 90px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}

		&.cell_size-12 {
			$cell-size: 85px;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
		}
		
		&.cell_size-wide {
			$cell-size: 100%;
			max-width: $cell-size;
			flex: 1 1 $cell-size;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: row nowrap;

			&.check_v3 .ant-checkbox-wrapper {
				.ant-checkbox + span {
					@extend %text3;
				}
			}
		}
	}
}
