@import 'src/assets/styles/_vars.scss';

.sidebar {
	z-index: 1005;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	display: flex;
	flex-flow: row;
	align-items: stretch;
	
	&__backdrop {
		position: fixed;
		z-index: -10;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		background-color: rgba(0, 0, 0, 0.3);

		&.active {
			display: block;
		}
	}

	&__body {
		$body_offset: $aside-size-level + $aside-size-small + 15;
		width: 0;
		background: #f0f0f0;
		position: relative;
		left: 0;
		display: flex;
		transform: translateX(-$body_offset);
		transition: transform 0.5s, width 0s 0.5s, padding-left 0s 0.5s;
		z-index: -1;
		box-shadow: 5px 0 5px hsla(0, 0%, 65.9%, 0.2);
		flex-flow: column;
		overflow-y: auto;

		&.open {
			// left: 0;
			width: $aside-size-level;
			transform: translateX(0);
			transition: transform 0.5s;
		}

		&.close {
			//left: -300px;
			transform: translateX(-$body_offset);
		}

		&-image {
			height: 20px;
			display: inline-block;
			margin: 20px;
		}

		&-image-wrapper {
			display: inline-block;
			width: 95%;
			cursor: pointer;
			border-bottom: 1px solid $color-prime;
			margin-bottom: 20px;
		}

		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
			
			&.align-bottom {
				justify-content: flex-end;
				flex: 1;
				display: flex;
				flex-flow: column;
				padding-bottom: 25px;
			}
		}
	}

	&__header {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		overflow-y: auto;

		&-line {
			position: fixed;
			background: $color-prime;
			top: 0;
			bottom: 0;
			left: 0;
			width: $aside-size-small;
		}
		
		.lang-select {
			&__control {
				border: 0 !important;
				outline: 0 !important;
				box-shadow: none !important;
				background: none;
				font-size: 13px;
				position: relative;

				&.lang-select__control--menu-is-open {
					.lang-select__single-value:after {
						border-top: 0;
						border-bottom: 6px solid #000;
					}
				}
			}
			
			&__value-container {
				padding-left: 0;
				cursor: pointer;
			}

			&__single-value {
				padding-right: 20px;
				margin-left: 0;
				
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -2px;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 6px solid #000;
				}
			}
			
			&__placeholder {
				margin-left: 0;
			}

			&__indicators {
				display: none !important;
			}

			&__indicator-separator {
				display: none;
			}
			
			&__menu {
				
			}

			&__menu-list {
				
			}

			&__option {
				
			}
		}
	}

	&.open {
		.sidebar__fix-button {
			transform: rotate(-180deg);
		}

		+ .page__layout {
			margin-left: $aside-size-wide + $aside-size-small;

			.filters__wrapper {
				left: $aside-size-wide;
				width: calc(100% - #{$aside-size-wide});
			}
		}
	}
	
	//&:hover,
	&.open,
	&.hover {
		//.sidebar__header:before {
		//	content: '';
		//	position: absolute;
		//	width: 260px;
		//	left: $aside-size-small;
		//	top: 0;
		//	bottom: 0;
		//	background: #f0f0f0;
		//}

		.sidebar__button-wrapper {
			width: $aside-size-wide + $aside-size-small;
		}
	}

	&__button {
		
		@include for-size(desktop-up) {
			display: flex;
			flex-wrap: nowrap;
			align-items: stretch;
			position: relative;
		}
		
		&.button-wide {
			flex: 1;
		}
		
		&-wrapper {
			position: relative;
			z-index: 1;
			display: flex;
			flex-flow: column;
			//pointer-events: none;
			width: $aside-size-small;
			//overflow: hidden;

			&:nth-child(2){
				flex: 1 1;
			}
			
			&:last-child {
				padding-bottom: 17px;
				justify-content: flex-end;

				&:not(:first-child) {
					padding-top: $aside-size-small;
				}
			}
			
			&:first-child {
				padding-top: 0;

				&:not(:last-child) {
					padding-bottom: $aside-size-small;
				}
			}
		}

		&-label {
			position: relative;
			padding: 5px 20px;
			display: flex;
			align-items: center;
			font-size: 17px;
			color: #000;
			pointer-events: all;

			@include for-size(desktop-up) {
				font-size: 15px;
				width: $aside-size-wide;
				min-width: $aside-size-wide;

				.label-nohover > & {
					background: #f0f0f0;
					cursor: default;
				}
			}
		}

		&-icon {
			width: $aside-size-small;
			min-width: $aside-size-small;
			min-height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.3s, color 0.4s;

			&:before {
				font-size: 22px;
				font-family: 'ecr_icons', sans-serif;
				color: white;
			}
			
			&.empty {
				visibility: hidden;
				pointer-events: none;
			}

			&.search{
				align-self: flex-start;
				
				&:before {
					content: '\e900';
				}
			}

			&.add:before {
				content: '\e902';
			}

			&.copy:before {
				content: '\e904';
			}

			&.bank:before {
				content: '\e906';
			}

			&.news:before {
				content: '\e908';
			}

			&.charts:before {
				content: '\e909';
			}

			&.cart:before {
				content: '\e90b';
			}

			&.settings:before {
				content: '\e90c';
			}

			&.user:before {
				content: '\e90d';
			}

			&.exit:before {
				content: '\e90e';
			}

			&.avatar {
				height: 75px;

				~ .sidebar__button-submenu {
					@include for-size(desktop-down) {
						padding-top: 10px;
					}
				}
			}
			
			&.home {
				background: black;
				cursor: pointer;
				pointer-events: all;
				font-size: 18px;

				svg {
					width: 1em;
					height: 1em;
				}
				
				&:hover {
					background: $color-prime;
				}

				.inner-image {
					width: $aside-logo-size;
					height: $aside-logo-size;
				}
			}
			
			.avatar-initials {
				border-radius: 100%;
				border: 1px solid #e5e5e5;
				background: #e5e5e5;
				color: #808080;
				width: 32px;
				height: 32px;
				text-align: center;
				font-size: 15px;
				font-weight: 500;
				line-height: 32px;
			}

			.avatar-image {
				width: $avatar-size;
				height: $avatar-size;
			}
			
			&.selected {
				background-color: white;

				&:before {
					color: $color-prime;
				}
			}
		}
		
		&.active {
			
		}
		
		&-submenu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: none;
			
			&.open {
				display: block;
			}

			.submenu-item {
				min-height: 20px;
				padding: 0;
				margin-bottom: 15px;
				
				&.submenu-item__parent {
					margin-bottom: 5px;
				}
			}

			.submenu-link {
				line-height: 20px;
				padding: 0 0 0 40px;
				margin: 0;
				font-size: 13px;
			}
		}
		
		&:not(.label-nohover) {
			cursor: pointer;
			
			&:hover,
			&.selected {
				.sidebar__button-icon {
					background-color: white;

					&:before {
						color: $color-prime;
					}
				}

				.avatar-initials {
					color: $color-prime;
					border-color: $color-prime;
				}

				.sidebar__button-label {
					color: $color-prime;

					&:after {
						color: $color-prime;
					}
				}
			}

			@include for-size(desktop-up) {
				&.active,
				&:hover {
					.sidebar__button-label {
						background-color: $color-text-grey;
					}
				}
			}
		}

		&.button-submenu {
			cursor: default;

			.sidebar__button-label {
				padding-right: 35px;

				&:after {
					content: '\e911';
					font-family: 'ecr_icons', sans-serif;
					position: absolute;
					top: 50%;
					right: 10px;
					font-size: 18px;
					margin-top: -10px;
					color: #808080;
					transition: transform 0.5s;

					@include for-size(desktop-up) {
						right: 17px;
						font-size: 12px;
						margin-top: -6px;
					}
				}
			}

			&.open .sidebar__button-label {
				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__search {
		margin: 0 -10px;
		padding: 2px 0;
		flex: 1 1;
		min-height: 90px;
		
		&-form {
			position: relative;
		}
		
		&-tip {
			font-size: 13px;
			color: #808080;
			margin: 10px 10px 3px;
		}
		
		&-input {
			display: block;
			width: 100%;
			background: #fff;
			border: 1px solid #a8a8a8;
			height: 35px;
			font-size: 13px;
			padding: 5px 40px 5px 10px;
		}
		
		&-button {
			cursor: pointer;
			position: absolute;
			background: none;
			top: 1px;
			right: 1px;
			width: 38px;
			height: 33px;
			text-align: center;
			color: #a8a8a8;

			&:before {
				content: '\e900';
				font-family: 'ecr_icons', sans-serif;
				font-size: 22px;
				line-height: 33px;
			}
			
			&:hover {
				color: $color-prime;
			}
		}
	}
	
	&__user {
		
		&-role {
			font-size: 13px;
			line-height: 1.4;
			margin-top: 2px;
			color: #808080;
		}
	}
	
	&__fix {
		position: relative;
		padding-right: 50px;
		flex: 1 1;
		
		&-wrapper {
			border-bottom: 1px solid $color-prime;
		}
		
		&-button {
			cursor: pointer;
			position: absolute;
			top: 50%;
			right: -1px;
			margin-top: -13px;
			width: 26px;
			height: 26px;
			text-align: center;
			border-radius: 100%;
			background: #fff;
			color: #a8a8a8;
			transition: transform 0.5s;

			&:after,
			&:before {
				content: '\e911';
				font-family: 'ecr_icons', sans-serif;
				font-size: 12px;
				line-height: 1;
				position: absolute;
				top: 50%;
				margin-top: -6px;
			}
			
			&:before {
				left: 5px;
			}
			
			&:after {
				right: 4px;
			}
			
			&:hover {
				box-shadow: 0 0 2px inset $color-prime;
			}
		}
	}
}

.submenu-item {
	position: relative;
	padding: 7px 5px 7px 10px;
	min-height: 50px;
	
	&__parent {
		pointer-events: none;
		margin-bottom: -7px;
	}

	&__empty {
		pointer-events: none;
	}

	&__child {
		min-height: 34px;
		
		+ .submenu-item__parent {
			margin-top: 10px;
		}
		
		.submenu-link {
			padding-left: 55px;

			@include for-size(desktop-up) {
				padding-left: 35px;
				line-height: 35px;
			}
		}
	}
}

.submenu-link {
	color: #000;
	display: block;
	position: relative;
	line-height: 50px;
	padding: 0 20px;
	margin: -7px -10px;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: normal;

	&:hover {
		//color: $color-prime;
		text-decoration: none;
		color: #000;
	}

	&.active {
		cursor: default;
		color: $color-prime;
	}

	@include for-size(desktop-up) {
		&:not(.active):hover {
			background-color: $color-text-grey;
		}
	}
}
